body{
    background: linear-gradient(90deg, rgba(0, 255, 235, 1) 0%, rgba(76, 175, 80, 1) 50%, rgba(7, 58, 187, 1) 100%);
}
.center{
  display: flex;
  justify-content:center;
  align-items:center;
}

#redirectButton {
  display: none; 
  margin: 1vh;
  width: 15vh;
  height: 5vh;
}
.button-instagram {
  background: linear-gradient(to right, #f9ce34,  #ee2a7b,  #6228d7);
}
.button-email {
  background: linear-gradient(to right, #ff4b2b, #ff416c);
}
.button-facebook {
  background: linear-gradient(to right, #004ff9,  #000000);
}
.button {
  display: inline-block;
  padding: 1vh 2vh;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 2.5vh;
  box-shadow: 0vh 0.8vh 1.5vh rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.button:hover {
  transform: translateY(-0.3vh);
  box-shadow: 0vh 1.2vh 2vh rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#platforma{
  width: 35vh;
  height: 3vh;
  background-color: #303030;
  color: white;
}

#bun{
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  width: 30vh;
  height: 2.2vh;
  text-align: center;
  margin: auto;
}
